.Home-outside{
    position: relative;
    width: 80%;
    height: 80vh;
    margin: auto;
    text-align: center;
}

.Home-outside .Home-inside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Home-outside .Home-inside .bestItem{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}